<div id="side-nav">
    <header>
        <img id="logo" src="./assets/images/logo.png" routerLink="/admin/messages" />
    </header>

    <nav class="nav-item">

      <div class="nav-item">
          <div class="item header" data-menu-item="Topics" [ngClass]="{'selected': dataMenuItem == 'chats'}"
              (click)="select($event)" routerLink="./messages/chats">
              <span>Chats</span>
          </div>
      </div>

      <div class="nav-item">
        <div class="item header" data-menu-item="Groups" [ngClass]="{'selected': dataMenuItem == 'groups'}"
             (click)="select($event)" routerLink="./groups">
          <span>Groups</span>
        </div>
      </div>

        <div class="nav-item">
            <div class="item header" data-menu-item="Chat" [ngClass]="{'selected': dataMenuItem == 'trendings'}"
                (click)="select($event)" routerLink="./trendings">
                <span> Trending </span>
            </div>
        </div>

        <nav class="nav-item">
            <div class="item header" (click)="selection.toggle(NAV_USERS)"
                [ngClass]="{'expanded': selection.isSelected(NAV_USERS),
                    'selected': dataMenuItem == 'userClients' || dataMenuItem == 'userEmployees' || dataMenuItem == 'userGenerics'}" >
                <span>Perfil</span>
                <i class="material-icons">keyboard_arrow_right</i>
            </div>
            <div class="nav-tab">
                <div class="item" data-menu-item="userClients" [ngClass]="{'selected': dataMenuItem == 'userClients'}"
                    (click)="select($event)"  routerLink="./info">Information</div>
                <div class="item" data-menu-item="userEmployees"
                    [ngClass]="{'selected': dataMenuItem == 'userEmployees'}" (click)="select($event)" routerLink="./contact">
                    Contacts</div>
                <div class="item" data-menu-item="userGenerics" [ngClass]="{'selected': dataMenuItem == 'userGenerics'}"
                    (click)="select($event)" routerLink="#">Saved Messages</div>
            </div>
        </nav>
    </nav>
</div>
