<div class="container1">
  <div class="title">
    <h2>My Contacts</h2>
  </div>

  <div class="button1">
    <div class="buttons">
      <button (click)="add_contact()" title="New Group">
        <i class="material-icons">person_add</i>
      </button>
    </div>
  </div>
</div>


<div class="wrap">
  <div class="floatleft">
    <ul class="groups">
      <li *ngFor="let group of myContacts">
        <span class="badge">{{group.id}}</span>
        <span>{{group.name}}</span>
      </li>
    </ul>
  </div>

    <div class="floatright" >
      <h2 style="text-align:center; color: black"> Add user to contact</h2>

      <mat-form-field required>
        <mat-select [(value)]="selected">
          <mat-option>----------</mat-option>
          <mat-option *ngFor="let c of commands" [value]="c.name">
            {{c.command}}
          </mat-option>
        </mat-select>
        <mat-label><b>Command</b></mat-label>
      </mat-form-field>


      </div>
    </div>
