<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
    attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
    [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<!-- <label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label> -->

<label for="fileInput" class="material-icons">
  attach_file
</label>
<input type="file" style="display: none" id="fileInput" (change)="selectFile($event)" />

<button class="custom-file-upload" [disabled]="!selectedFiles" (click)="upload()">Upload</button>