<h2 class="title">Create a New Account</h2>

<legend><span>It’s quick and easy.</span></legend>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="create()">
  <fieldset>
    <div class="wrap-fields">
      <div class="field">
        <mat-form-field required>
          <input matInput formControlName="userName" placeholder="User Name">
        </mat-form-field>
        <app-validator [control]="form.controls['userName']"></app-validator>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><span>Optional Data</span></legend>
    <div class="wrap-fields">
      <div class="field">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <!-- <app-validator [control]="form.controls['firstName']"></app-validator> -->
      </div>
    </div>
    <div class="wrap-fields">
      <div class="field">
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name">
        </mat-form-field>
        <!-- <app-validator [control]="form.controls['lastName']"></app-validator> -->
      </div>
    </div>
    <div class="wrap-fields">
      <div class="field">
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>
    </div>
    <div class="wrap-fields">
      <div class="field">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <!-- <app-validator [control]="form.controls['email']"></app-validator> -->
      </div>
    </div>
  </fieldset>

  <div class="options row">
    <button mat-raised-button class="btn-text" type="submit" [disabled]="!form.valid">Guardar</button>
  </div>
</form>