<div class="container1">
  <div class="title">
    <h2>My Groups</h2>
  </div>

  <div class="button1">
    <div class="buttons">
      <button (click)="add_user_chat_room()" title="New Group">
        <i class="material-icons">group_add</i>
      </button>
    </div>
  </div>
</div>



<div class="wrap">
  <div class="floatleft">
    <ul class="groups">
      <li *ngFor="let group of myGroup"
          [class.selected]="group === selectedGroup"
          (click)="onSelect(group)">
        <span class="badge">{{group.id}}</span>
        <span>{{group.name}}</span>
      </li>
    </ul>
  </div>

  <div class="floatright" >

    <div *ngIf="selectedGroup">
      <h2>{{selectedGroup.name | uppercase}} Messages</h2>
      <div>

        <ul class="sms">
          <li *ngFor="let message of sms"
              [class.selected]="message === selectedGroup"
              (click)="onSelect(g1)">
            <span class="badge">{{message.fromUser}}</span>
            <p>{{message.body}}</p>
<!--            <img *ngIf="message.multimedia===''" src="" alt="Avatar" style="width:100%;">-->
            <p>{{message.multimedia}}</p>
          </li>
        </ul>

      </div>
    </div>

<!--      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--        &lt;!&ndash; Position Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="message.fromUser">-->
<!--          <th mat-header-cell *matHeaderCellDef> From </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.fromUser}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="message">-->
<!--          <th mat-header-cell *matHeaderCellDef> Message </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element}} </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--      </table>-->

  </div>

  <div style="clear: both;">
  </div>
  </div>
