<div class="container1">
  <div class="title">
    <h2>User Information</h2>
  </div>

  <fieldset>

    <div class="wrap-fields">
      <div class="field form-field">
        <span>User Name</span> {{user.userName}}
      </div>

      <div class="field form-field">
        <span>First Name</span> {{user.firstName}}
      </div>

      <div class="field form-field">
        <span>Last Name</span> {{user.lastName}}
      </div>

      <div class="field form-field">
        <span>Email</span> {{user.email}}
      </div>

    </div>
  </fieldset>

</div>
