<!-- TODO MESSAGE -->

<div class="container1">
  <div class="title">
    <h2>Messages</h2>
  </div>
</div>

<div class="wrap">
  <div class="floatleft">

      <h2  style="text-align:center; color: black" >Contacts</h2>
      <ul class="groups">
        <li *ngFor="let contact of myContacts"
            [class.selected]="contact === selectedContact"
            (click)="onSelectContact(contact)">
          <span class="badge">{{contact.id}}</span> {{contact.name}}
        </li>
      </ul>

      <h2  style="text-align:center; color: black" >Groups</h2>
      <ul class="groups">
        <li *ngFor="let group of myGroups"
            [class.selected]="group === selectedGroup"
            (click)="onSelectGroup(group)">
          <span class="badge">{{group.id}}</span> {{group.name}}
        </li>
      </ul>

      <!--    TODO QUITAR "!" -->
      <div *ngIf="!user.admin" >
        <h2  style="text-align:center; color: black" >Broadcast</h2>
        <ul class="groups">
          <li (click)="onSelectedBroadcast()">
            <span class="badge">1</span> Broadcast
          </li>
        </ul>
      </div>

  </div>

  <div class="floatright" >

    <h2 style="text-align:center; color: black">Chat</h2>

    <div *ngIf="selectedContact">
      <div class="type_msg">
        <div class="input_msg_write">
          <h4 style="text-align:left; color: black">To Contact:<span class="badge">{{selectedContact.name | uppercase}}</span> </h4>

          <form *ngIf="userMessage" [formGroup]="userMessage" (ngSubmit)="send_message(userMessage,selectedContact.name)">

              <input type="text"  formControlName="body" class="write_msg" placeholder="Type a message" />
              <app-validator [control]="userMessage.controls['body']"></app-validator>

            <button class="msg_send_btn" type="button" type="submit" [disabled]="!userMessage.valid">
              <i class="fa fa-paper-plane-o" class="material-icons" aria-hidden="true"> send</i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="selectedGroup">
      <div class="type_msg">
        <div class="input_msg_write">
           <h4 style="text-align:left; color: black">To Group:<span class="badge">{{selectedGroup.name | uppercase}}</span> </h4>

          <form *ngIf="groupMessage" [formGroup]="groupMessage" (ngSubmit)="send_message_group(groupMessage,selectedGroup.name)">

          <input type="text" formControlName="body" class="write_msg" placeholder="Type a message" />
            <app-validator [control]="groupMessage.controls['body']"></app-validator>

          <button class="msg_send_btn" type="button" type="submit" [disabled]="!groupMessage.valid">
            <i class="fa fa-paper-plane-o" class="material-icons" aria-hidden="true"> send</i>
          </button>

          </form>
        </div>
      </div>
    </div>

    <div *ngIf="selectedBroadcast">
      <div class="type_msg">
        <div class="input_msg_write">
          <h4 style="text-align:left; color: black"><span class="badge"> Admin Message </span> </h4>

          <form *ngIf="userMessage" [formGroup]="userMessage" (ngSubmit)="send_message_broadcast(userMessage,'BROADCAST')">

            <input type="text" formControlName="body" class="write_msg" placeholder="Type a message" />
            <app-validator [control]="userMessage.controls['body']"></app-validator>

            <button class="msg_send_btn" type="button" type="submit" [disabled]="!userMessage.valid">
              <i class="fa fa-paper-plane-o" class="material-icons" aria-hidden="true"> send</i>
            </button>

          </form>
        </div>
      </div>
    </div>


      <div>
        <ul class="sms">
          <li *ngFor="let message of globals.appMessages">
<!--            <p>{{user.userName}}</p>-->
<!--            <p>{{message.fromUser.userName}}</p>-->

            <div *ngIf="user.userName===message.fromUser.userName">
              <span class="from">{{message.fromUser.userName }}</span>
              <p>{{message.body}}</p>
<!--              <p>TRUE</p>-->
              <!-- <img *ngIf="message.multimedia===''" src="" alt="Avatar" style="width:100%;">-->
              <!--            <p>{{message.multimedia.url || ""}}</p>-->
              <!--            <p>{{message.createdAt}}</p>-->
            </div>

            <div *ngIf="user.userName!==message.fromUser.userName">
              <span class="badge">from: {{message.fromUser.userName }}</span>
              <p>{{message.body}}</p>
<!--              <img *ngIf="message.multimedia===''" src="" alt="Avatar" style="width:100%;">-->
              <!--            <p>{{message.multimedia.url || ""}}</p>-->
              <!--            <p>{{message.createdAt}}</p>-->
            </div>

          </li>
        </ul>
      </div>

  </div>

  <div style="clear: both;">
  </div>
</div>






















<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--<div class="container_new">-->
<!--  <h3 class=" text-center">Messaging</h3>-->
<!--  <div class="messaging">-->
<!--    <div class="inbox_msg">-->
<!--      <div class="inbox_people">-->
<!--        <div class="headind_srch">-->
<!--          <div class="recent_heading">-->
<!--            <h4>Contacts</h4>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="inbox_chat">-->

<!--          <div *ngFor="let group of groups_test"-->
<!--               [class.selected]="group === selectedGroup"-->
<!--               (click)="onSelect(group)">-->

<!--            <div class="chat_list">-->
<!--              <div class="chat_people">-->
<!--                <div class="chat_ib">-->
<!--                  {{group.name}}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="mesgs">-->

<!--        <div *ngFor="let message of sms">-->
<!--        <div class="msg_history">-->
<!--          <div class="incoming_msg">-->
<!--            <div class="incoming_msg_img"> from: </div>-->
<!--            <div class="received_msg">-->
<!--              <div class="received_withd_msg">-->
<!--                <p>{{message.body}}</p>-->
<!--&lt;!&ndash;                <span class="time_date"> 11:01 AM    |    June 9</span></div>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->



<!--        <div class="type_msg">-->
<!--          <div class="input_msg_write">-->
<!--            <input type="text" class="write_msg" placeholder="Type a message" />-->
<!--            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>-->
<!--          </div>-->
<!--        </div>-->

<!--    </div>-->

<!--  </div>-->
<!--</div>-->


