mat-grid-tile {
  background: lightgrey;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded):hover {
    background: #ece9e9;
}

.example-full-width {
    width: 100%;
}

.filter {
    margin: auto;
}

.both-side {
    margin: 3px;
    padding: 2px;
}

.mat-elevation-z8 {
    box-shadow: 0 0 0 0;
}

.table-header .sort.sort-up:after {
    content: "\25B2";
}

.table-header .sort.sort-down:after {
    content: "\25BC";
}

.headerSearch{
    background-color: #f8f5f5;
    margin: 10px;
    position: sticky;
    border-radius:  10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.rowsm{
    padding: 5%;
    display: flex;
    flex-direction: row;
    height: 10px;
}

.field{
    min-width: 200px;
}

.mat-select {
    display: inline-block;
    width: 250px;
    outline: 0;
}

.mat-select-value {
    display: table-cell;
    /* max-width: 100px; */
    width: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: auto;
}


.mydp .selection {
    width: 100%;
    outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 6px;
    border: none;
    color: #555;
}

.contentDate {
    width: 210px;
}

.rowBotton{
    margin: 10px;
    position: sticky;
    margin-top: 50px;
}


.item0 { grid-area: blanck; }
.item1 { grid-area: title; }
.item2 { grid-area: button1; }
.item3 { grid-area: date1; }
.item3 { grid-area: date2; }
.item4 { grid-area: search1; }
.item5 { grid-area: filter1; }
.item6 { grid-area: filter2; }
.item7 { grid-area: filter3; }
.item8 { grid-area: search2; }
.item9 { grid-area: date3; }

.container1 {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:'title title title button1'
                        'date1 date2 date3 search1'
                        'filter1 filter2 filter3 search2';

    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    width: 100%;
}

.container1 > .title {
    /* grid-column: 1 / 4; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 10px;

}

.container1 > .button1 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 160px;
    font-size: 20px;
    padding-left: 15px;
}

.container1 > .date1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 2px;
}

.container1 > .date2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 2px;
}


.container1 > filter1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 229px;
}

.container1 > filter2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container1 > filter3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container1 > search2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

input:hover, textarea:hover, select:hover, .select:hover {
    border: 1px solid #f2f2f2;
    /* background-color: #f2f2f2; */
    border-radius: 4px;
}


.material-icons {
    font-size: 24px;
    color: black;

}

.b1{
    margin: 2px 2px 2px 2px;
}

.buttons{
    position: absolute;
    /* display: inline; */
    margin: 5px;

}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

button, input[type="file"]+label {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: content-box;
    display: inline-block;
    justify-content: center;
    transition: all .2s linear;
    background-color: white;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.mydp .selection {
    width: 100%;
    outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 15px;
    border: none;
    color: #555;
}


element.style {
    height: 34px;
    font-size: 20px;
    padding-left: 15px;
}

.mydp .selbtngroup {
    position: relative;
    white-space: nowrap;
    width: 1%;
    font-size: 0;
    display: inline;
}


  /* ########################  CCS de HarvestCReate   ##########################################*/
.create-width {
    width: 50%;
}

.create1-width {
    width: 25%;
}

.example-radio-button {
    margin: 5px;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #407cff;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #407cff;
}

.conteiner {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    width: 50%;
}

fieldsetDetail {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    width: 50%;
}
/* ########################  CCS de MESSAGE   ##########################################*/
/* ########################  CCS de MESSAGE   ##########################################*/
/* ########################  CCS de MESSAGE   ##########################################*/
.scroll-img {

  overflow-y: scroll;

  /*height: 400px;*/
  height: 100% ;

  /*width: 100%;*/

}

.sms {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #6d6a6a;
  margin: .5em;
  padding: .3em 0;
  /* height: 1.6em; */
  border-radius: 4px;
}
.container_messages {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container_messages::after {
  content: "";
  clear: both;
  display: table;
}

.container_messages img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container_messages img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


/*//////////////////////////////////////////////////////////*/
.sms {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 1%;
  width: 100%;
}
.sms li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  /*height: 1.6em;*/
  border-radius: 4px;
}
.sms li:hover {
  color: #2d3136;
  background-color: #DDD;
  left: .1em;
}
.sms li.selected {
  background-color: #CFD8DC;
  color: white;
}
.sms li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.sms .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0.7em 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .20em;
  border-radius: 4px 4px 4px 4px;
}

.from{
  /*display: inline-block;*/
  /*font-size: small;*/
  color: white;
  padding: 0.8em 0.7em 0.7em 0.7em;
  background-color:black;
  line-height: 2em;
  /*position: relative;*/
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .15em;
  border-radius: 4px 0 0 4px;
}

/*//////////////////////////////////////////////////////////*/
.wrap {
  width: 100%;
}

.floatleft {
  float:left;
  width: 25%;
  background-color: #525252;
  /*height: 700px;*/
  height: 100% ;
  min-width: 200px;
  min-height: 200px;
}

.floatright {
  float: right;
  background-color: #b1b1ac;
  /*height: 700px;*/
  height: 100% ;
  width: 75%;
  min-width: 200px;
  min-height: 200px;
}

/* GroupComponent's private CSS styles */
.groups {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 1%;
  width: 100%;
}

.groups li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  /*padding: .3em 0;*/
  /*height: 1.6em;*/
  border-radius: 4px;
}
.groups li:hover {
  color: #2d3136;
  background-color: #DDD;
  left: .1em;
}
.groups li.selected {
  background-color: #CFD8DC;
  color: white;
}
.groups li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.groups .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* OTRHERS */
mat-grid-tile {
  background: lightgrey;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded):hover {
  background: #ece9e9;
}

.example-full-width {
  width: 100%;
}

.filter {
  margin: auto;
}

.both-side {
  margin: 3px;
  padding: 2px;
}

.mat-elevation-z8 {
  box-shadow: 0 0 0 0;
}

.table-header .sort.sort-up:after {
  content: "\25B2";
}

.table-header .sort.sort-down:after {
  content: "\25BC";
}

.headerSearch{
  background-color: #f8f5f5;
  margin: 10px;
  position: sticky;
  border-radius:  10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.rowsm{
  padding: 5%;
  display: flex;
  flex-direction: row;
  height: 10px;
}

.field{
  min-width: 200px;
}

.mat-select {
  display: inline-block;
  width: 250px;
  outline: 0;
}

.mat-select-value {
  display: table-cell;
  /* max-width: 100px; */
  width: 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
}


.mydp .selection {
  width: 100%;
  outline: 0;
  background-color: #FFF;
  display: table-cell;
  position: absolute;
  text-overflow: ellipsis;
  padding-left: 6px;
  border: none;
  color: #555;
}

.contentDate {
  width: 210px;
}

.rowBotton{
  margin: 10px;
  position: sticky;
  margin-top: 50px;
}


.item0 { grid-area: blanck; }
.item1 { grid-area: title; }
.item2 { grid-area: button1; }
.item3 { grid-area: date1; }
.item3 { grid-area: date2; }
.item4 { grid-area: search1; }
.item5 { grid-area: filter1; }
.item6 { grid-area: filter2; }
.item7 { grid-area: filter3; }
.item8 { grid-area: search2; }
.item9 { grid-area: date3; }

.container1 {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:'title title title button1'
  'date1 date2 date3 search1'
  'filter1 filter2 filter3 search2';

  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  width: 100%;
}

.container1 > .title {
  /* grid-column: 1 / 4; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 10px;

}

.container1 > .button1 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 160px;
  font-size: 20px;
  padding-left: 15px;
}

.container1 > .date1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 2px;
}

.container1 > .date2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 2px;
}


.container1 > filter1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  max-width: 229px;
}

.container1 > filter2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container1 > filter3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container1 > search2{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

input:hover, textarea:hover, select:hover, .select:hover {
  border: 1px solid #f2f2f2;
  /* background-color: #f2f2f2; */
  border-radius: 4px;
}


.material-icons {
  font-size: 24px;
  color: black;

}

.b1{
  margin: 2px 2px 2px 2px;
}

.buttons{
  position: absolute;
  /* display: inline; */
  margin: 5px;

}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

button, input[type="file"]+label {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: content-box;
  display: inline-block;
  justify-content: center;
  transition: all .2s linear;
  background-color: white;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.mydp .selection {
  width: 100%;
  outline: 0;
  background-color: #FFF;
  display: table-cell;
  position: absolute;
  text-overflow: ellipsis;
  padding-left: 15px;
  border: none;
  color: #555;
}


element.style {
  height: 34px;
  font-size: 20px;
  padding-left: 15px;
}

.mydp .selbtngroup {
  position: relative;
  white-space: nowrap;
  width: 1%;
  font-size: 0;
  display: inline;
}

/* ########################  CCS de HarvestCReate   ##########################################*/
.create-width {
  width: 50%;
}

.create1-width {
  width: 25%;
}

.example-radio-button {
  margin: 5px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #407cff;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #407cff;
}


.conteiner {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  width: 50%;
}

fieldsetDetail {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  width: 50%;
}

/* ########################  NEW  ##########################################*/
/* ########################  NEW  ##########################################*/
/* ########################  NEW  ##########################################*/
/* ########################  NEW  ##########################################*/

.container_new{
  max-height: 800px;
  width: 100%;
  hight:100%;
  /*max-height: 700px;*/
  margin:auto;

}

img{ max-width:100%;}


.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 4px;

}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  /*width: 30%;*/
  max-height: 800px;
  /*height: 100%;*/
  overflow-y: scroll;
}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
  height: 100%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  /*border: medium none;*/
  color: #eeeeee;
  font-size: 15px;
  min-height: 40px;
  height: 100%;
  width: 100%;
  /*margin: auto;*/
  padding: 1%;
  border-radius: 4px;
  /*position: center;*/
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #b1b1ac none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 5px;
  top: 44px;
  width: 34px;
}


.messaging { padding: 0 0 50px 0;}


.msg_history {
  height: 516px;
  overflow-x: auto;
  /*overflow-x: scroll;*/
}
