.breadcrumbs{
	display: flex;
	padding: 7px 15px;

	
}

.breadcrumb-item a {
	color: #333;
	text-decoration: none;
	color: white;
}

.breadcrumb-item span{
	font-size: 18px;
	padding: 0 10px;	
}

.breadcrumb-item:hover a,
.breadcrumb-item:last-child a {
	color: #ebebeb;
}